{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}MedStuNotify | 金沢大学医学類 講義変更通知 LINEbot</title>
    <meta name="description" content="金沢大学医学類の講義変更をLINEで通知するLINEbotです。"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ps-2 pe-2" style="background-color: #014959;">
        <div class="container-fluid">
            <a class="navbar-brand font-monospace text-light" href="/about">MedStuNotify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="/about">使い方</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/contact">お問い合わせ</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/privacy_policy">プライバシーポリシー</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
    <main class="m-4">
        <figure class="">
        <blockquote class="blockquote">
            <p>{% block header %}{% endblock %}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            MedStuNotify produced by <cite title="Source Title">ReadEchoes</cite>
        </figcaption>
        </figure>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>